<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <body>
        <%- include("../partials/header.ejs") %>
        <main class="admin__main">
            <section class="titulo__admin">
                <p id="crear_paquete" class="underline" onclick="displayAdmin()">Crear paquetes</p>
                <p id="lista_paquete" onclick="displayAdmin()">Lista de paquetes</p>
            </section>
            <section id="crear__paquetes__admin">
                <form action="POST" class="form__search-admin">
                    <label for="" class="input__txt__places section__login--label">Nombre paquete</label>
                    <input type="text" placeholder="Ingrese el nombre del paquete">
                    <label for="" class="input__txt__places section__login--label">Descripcion</label>
                    <input type="text" placeholder="Ingrese descripcion del paquete">
                    <label for="" class="input__txt__places section__login--label">Provincia de salida</label>
                    <input type="text" placeholder="Ingrese provincia de salida">
                    <label for="" class="input__txt__places section__login--label">Precio</label>
                    <input type="text" placeholder="Ingrese precio del paquete">
                    <label for="" class="input__txt__places section__login--label">Fecha de inicio</label>
                    <input type="date" placeholder="Ingrese fecha de inicio del paquete">
                    <label for="" class="input__txt__places section__login--label">Fecha de finalizacion</label>
                    <input type="date" placeholder="Ingrese fecha de finalizacion del paquete">
                    <label for="" class="input__txt__places section__login--label">Imagen</label>
                    <input type="text" placeholder="Ingrese imagen del paquete">
                    <label for="" class="input__txt__places section__login--label">Incluye</label>
                    <input type="text" placeholder="Ingrese provincia de salida">
                    <button type="submit">Crear paquete</button>
                </form>
            </section>
            <section id="lista__paquetes__admin" class="admin__hidden">
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th class="table__hidden">Descripci贸n</th>
                            <th class="table__hidden">Cantidad de Personas</th>
                            <th>Precio</th>
                            <th class="table__hidden">Fecha de Inicio</th>
                            <th class="table__hidden">Fecha de Finalizaci贸n</th>
                            <th class="table__hidden">Imagen</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Paquete 1</td>
                            <td class="table__hidden">Descripci贸n del paquete 1</td>
                            <td class="table__hidden">3</td>
                            <td>$100.00</td>
                            <td class="table__hidden">2023-01-01</td>
                            <td class="table__hidden">2023-01-10</td>
                            <td class="table__hidden"><img src="imagen1.jpg" alt="Imagen del paquete 1" width="50"></td>
                            <td><i class="fa-solid fa-pen-to-square"  onclick="displayModal()"></i></td>
                            <td><i class="fa-solid fa-trash"></i></td>
                        </tr>
                        <tr>
                            <td>Paquete 2</td>
                            <td class="table__hidden">Descripci贸n del paquete 2</td>
                            <td class="table__hidden">2</td>
                            <td>$80.00</td>
                            <td class="table__hidden">2023-02-01</td>
                            <td class="table__hidden">2023-02-15</td>
                            <td class="table__hidden"><img src="imagen2.jpg" alt="Imagen del paquete 2" width="50"></td>
                            <td><i class="fa-solid fa-pen-to-square"  onclick="displayModal()"></i></td>
                            <td><i class="fa-solid fa-trash"></i></td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section id="modificar__paquetes__admin" class="modal__hidden modificar__paquetes__admin">
                <form action="PUT" class="form__search-admin form__search-admin-modal">
                    <p class="close__modify" onclick="displayModal()">X</p>
                    <label for="" class="input__txt__places section__login--label">Nombre paquete</label>
                    <input type="text" value="Paquete 1">
                    <label for="" class="input__txt__places section__login--label">Descripcion</label>
                    <input type="text" value="Descripcion">
                    <label for="" class="input__txt__places section__login--label">Provincia de salida</label>
                    <input type="text" value="Provincia">
                    <label for="" class="input__txt__places section__login--label">Precio</label>
                    <input type="text" value="$100000">
                    <label for="" class="input__txt__places section__login--label">Fecha de inicio</label>
                    <input type="date" placeholder="Ingrese fecha de inicio del paquete">
                    <label for="" class="input__txt__places section__login--label">Fecha de finalizacion</label>
                    <input type="date" value="2015-14-19">
                    <label for="" class="input__txt__places section__login--label">Imagen</label>
                    <input type="text" value="imagen">
                    <label for="" class="input__txt__places section__login--label">Incluye</label>
                    <input type="text" value="Incluye">
                    <button type="submit">Modificar paquete</button>
                </form>
            </section>
        </main>
        <%- include("../partials/footer.ejs") %>
    </body>
    <script src="js/general.js"></script>
    
    
</html>