<footer>
    <h2>Recibe ofertas a tu email</h2>
    <form action="" method="post">
        <input class="input_mail" type="email" name="email" id="footerEmail" placeholder="Ingresa tu email">
        <button type="submit">Quiero recibirlas</button>
    </form>

    <div class="contactanos">
        <h2>Contactanos</h2>
        
        <p> <i class="fa-solid fa-location-dot"></i> Av Virgen del valle 87, San Fernando del Valle de Catamarca</p>
        <div class="container-datos-footer">
            <div>
                <p><i class="fa-solid fa-phone"></i>3834-789877</p>
                <p><i class="fa-brands fa-facebook-f"></i>@ValleDorado</p>
            </div>
            <div>
                <p><i class="fa-solid fa-clock"></i>9:00 - 13:00 / 17:00 - 21:00</p>
                <p><i class="fa-brands fa-square-instagram"></i></i>@ValleDorado</p>
            </div>
        </div>
    </div>
</footer>