<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content=""><!-- alummno que corresponda -->
    <meta name="keywords" content=" aqui van las palabras claves, para los motores de busqueda separadas por coma">
    <meta name="description"
        content="aqui podemos poner una pequeña reseña sobre nuestra pagina aprox entre 70 y 100 caracteres">
    <meta http-equiv=" X-UA-Compatible" content="IE=edge">


    <!-- links -->
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/generales.css">
    <link rel="stylesheet" href="css/normalize.css">

    <!-- Fonts -->

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <!-- Titulo -->
    <title>login</title>
</head>

<body>

    <header>
        <h1>Soy el login</h1>
        <nav>
            
        </nav>

    </header>


    <main>


    </main>

    <footer>

    </footer>

    <script>

    </script>

</body>

</html>