/*
Estilos Generales 
 */



/*
Header 
 */




/*
Main 
 */
.main_destinos{
    margin-top: 3rem;
}
.main_destinos h1{
    text-align: center;
    color: #ffffff;
    font-style: italic;
    letter-spacing: .1rem;
}
.main_destinos_txt{
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 2rem;
}

/*VIDEOS*/
.main_destinos_vid{
    text-align: center;
}
.main_destinos_vid iframe{
    width:100vw;
    height: 315px;
    padding: 0 10px 0 10px;
    margin-bottom: 1rem;
}
.video h2{
    text-align: start;
    padding-left: 10px;
    margin-bottom: 1rem;
    font-style: italic;
    letter-spacing: .1rem;
    text-decoration: underline ;
    color:#ffffff
}


/* CARRUSEL */
.tips_container{
    background-color: #3D348B;
    padding-top: 1rem;
}
.tips_container h1{
    text-align: center;
    color: #ffffff;
    font-style: italic;
    letter-spacing: .1rem;

}
.max-height-cards{
    height: 250px;
}

/* Estilos generales para las tarjetas */
.tips_container .main__card__container {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  /* Estilos para las imágenes dentro de las tarjetas */
  .main__card__img__container img {
    width: 100%;
    /* height: auto; */
    transition: transform 0.3s ease;
  }
  
  /* Efecto de escala al hacer hover en la tarjeta */
  .tips_container .main__card__container:hover {
    transform: scale(1.05); 
  }
/*
Footer
 */


/*
Medias Queries
 */

 /* tips de viajes*/
 @media screen and (min-width: 1024px){
    .video h2{
        padding-left: 3rem;
    }
    
 }