.section__login{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .7em 1.5rem;
    position: relative;
}

.section__login h2{
    color: #F18701;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 1.5rem;
}

.section__login form{
    margin: 1rem 0;
    background-color: white;
    flex-direction: column;
}

.section__login--label{
    color: black !important;
}

.main__login{
    background-color: #3D348B;
}

.msjerrorLogin{ 
    color:red;
    font-size: 0.8rem;
    margin-top:2px;
    text-align:start;
    font-weight: 700;
}


/*
Medias Queries
 */

 @media screen and (min-width: 768px){
    .section__login form{
        width: 30vh;
        display: flex;
    }

    .section__login{
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .section__login h2{
        font-size: 2rem;
        width: 40vw;
        text-align: start;
        margin-right: 3rem;
    }


 }

 @media screen and (min-width: 1024px){
    .section__login form{
        width: 50vh;
    }
    .section__login h2{
        font-size: 2.5rem;
    }
 }