<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content=""><!-- alummno que corresponda -->
    <meta name="keywords" content=" aqui van las palabras claves, para los motores de busqueda separadas por coma">
    <meta name="description"
        content="aqui podemos poner una pequeña reseña sobre nuestra pagina aprox entre 70 y 100 caracteres">
    <meta http-equiv=" X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


    <!-- links -->
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/generales.css">
    <link rel="stylesheet" href="css/normalize.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;0,900;1,300;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <!-- Titulo -->
    <title>Regristro Usuario</title>
</head>

<body>

    <header>
        <img class="header__logo" src="img/logo.png" alt="logo">
        <img id="header__hamburguer" src="img/menu.png" alt="menu" onclick="displayMenu('nav__menu-visible', 'nav__menu-hidden')">
        <nav id="nav__menu" class="nav__menu nav__menu-hidden">
            <ul class="ul__menu__perfil">
                <li id="li__menu__close__hamburguer" onclick="displayMenu('nav__menu-hidden', 'nav__menu-visible')">X</li>
                <li class="li__menu__nombre">Hola! Nombre persona</li>
                <li class="li__menu__miPerfil"><a href="/login">Mi perfil</a></li>
                <li class="li__menu__img__user"><img src="img/logo.png" alt="User"></li>
            </ul>
            <ul class="ul__menu__navegacion">
                <li><a href="/">Home<i class="fa-solid fa-house li__menu__icon"></i></a></li>
                <li class="li__menu__login"><a href="#">Login</a></li>
                <li class="li__menu__paquetes"><a href="/productCart">Tu Reserva<i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="li__menu__servicios"><a href="/productDetail">Servicios <i class="fa-solid fa-bell-concierge li__menu__icon"></i></a></li>
                <li class="li__menu__servicios"><a href="/register"> Registrate <i class="fa-solid fa-address-book li__menu__icon"></i></a></li>
                <li class="li__menu__cerrarsesion"><a href="#">Cerrar sesion<i class="fa-solid fa-right-from-bracket li__menu__icon"></i></a></li>
            </ul>
        </nav>
    </header>

    <main class="main__login">
        <section class="section__login">
            <h2 >Bienvenido a nuestra agencia de viajes Valle Dorado</h2>
            <form action="" class="form__search">
                <label for="" class="input__txt__places section__login--label">Nombre</label>
                <input type="text" placeholder="x">
                <label for="" class="input__txt__places section__login--label">Apellido</label>
                <input type="text" placeholder="x">
                <label for="" class="input__txt__places section__login--label">Fecha de nacimiento</label>
                <input type="date" placeholder="x">
                <label for="" class="input__txt__places section__login--label">DNI</label>
                <input type="number" placeholder="x">
                <label for="" class="input__txt__places section__login--label">Telefono</label>
                <input type="number" placeholder="x">
                <label for="" class="input__txt__places section__login--label">Email</label>
                <input type="email" placeholder="x">
                <label for="" class="input__txt__places section__login--label">Contraseña</label>
                <input type="text" placeholder="x">
                <label for="" class="input__txt__places section__login--label">Repetir Contraseña</label>
                <input type="text" placeholder="x">
                <button type="submit">Registrarse</button>
            </form>
        </section>
    </main>

    <footer>
        <h2>Recibe ofertas a tu email</h2>
        <form action="" method="post">
            <input class="input_mail" type="email" name="email" id="email" placeholder="Ingresa tu email"placeholder="x">
            <button type="submit">Quiero recibirlas</button>
        </form>
    
        <div class="contactanos">
            <h2>Contactanos</h2>
            
            <p> <i class="fa-solid fa-location-dot"></i> Av Virgen del valle 87, San Fernando del Valle de Catamarca</p>
            <div class="container-datos-footer">
                <div>
                    <p><i class="fa-solid fa-phone"></i>3834-789877</p>
                    <p><i class="fa-brands fa-facebook-f"></i>@ValleDorado</p>
                </div>
                <div>
                    <p><i class="fa-solid fa-clock"></i>9:00 - 13:00 / 17:00 - 21:00</p>
                    <p><i class="fa-brands fa-square-instagram"></i></i>@ValleDorado</p>
                </div>
            </div>
        </div>
    </footer>

    <script>

    </script>

</body>
<script src="js/general.js"></script>
</html>