<!DOCTYPE html>
<html lang="es">
<!-- HEADE -->
<%- include("../partials/head") %>

    <body>
        <!-- HEADER -->
        <%- include("../partials/header.ejs") %>
            <main class="main__login">
                <section class="section__login">
                    <h2>Bienvenido a nuestra agencia de viajes Valle Dorado</h2>
                    <form action="/users/register" method="post" class="form__search">
                        <label for="" class="input__txt__places section__login--label">Nombre</label>
                        <input type="text" name= "nombre" placeholder="nombre">

                        <label for="" class="input__txt__places section__login--label">Apellido</label>
                        <input type="text" name= "apellido" placeholder="apellido">

                        <label for="" class="input__txt__places section__login--label">Fecha de nacimiento</label>
                        <input type="date" name: placeholder="x">

                        <label for="" class="input__txt__places section__login--label">DNI</label>
                        <input type="number" name="DNI" placeholder="x">

                        <label for="" class="input__txt__places section__login--label">Telefono</label>
                        <input type="number" name="telefono" placeholder="x">

                        <label for="" class="input__txt__places section__login--label">Email</label>
                        <input type="email" name="email" placeholder="@">

                        <label for="" class="input__txt__places section__login--label">Contraseña</label>
                        <input type="text" name="password" placeholder="xx">

                        <label for="" class="input__txt__places section__login--label">Confirmar Contraseña</label>
                        <input type="text" name="confirmarPassword" placeholder="xx">

                        <label for="" class="input__txt__places section__login--label">imagen</label>
                        <input type="text" name="imagen" placeholder="x">

                        <button type="submit">Registrarse</button>
                    </form>
                </section>
            </main>
            <!-- FOOTER -->
            <%- include("../partials/footer.ejs") %>
                <script>

                </script>
    </body>
    <script src="js/general.js"></script>

</html>