<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
            <h1>PROXIMAMENTE SOLO EN CINES</h1>

    </main>
    <%- include("../partials/footer.ejs") %>
    <script>

    </script>
</body>
<script src="js/general.js"></script>
</html>